nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: lightblue;
  color: #fff;
}

ul {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

h1, h4, p {
  text-align: center; 
}

h1 {
  font-size: 1.3rem;
}

.employees {
  width: calc(100vw - 6vw);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

.employees__content {
  flex-direction: column;
  padding: 1.5rem;
  border: 1px solid #000;
  border-radius: 5px;
  margin: .6rem 0;
  color: #000;
  background: #aaaaaa;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,.4);
  transition: box-shadow .3s ease-out, transform .5s ease-out;
}

.employees__content:hover {
  box-shadow: 0px 7px 10px 0px rgba(0,0,0,.4);
  transform: translateY(-1px);
}